.transition
  ul.nav.nav-pills.nav-justified
    li(ng-click="changeType('spline')",ng-class="{active:type=='spline'}") 割合
    li(ng-click="changeType('line')",ng-class="{active:type=='line'}") 絶対数


  #chart