doctype html
html(ng-app="app")
  head(lang="jp")
    title How We Die?
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="統計局の人口動態統計を元に、死を見つめなおすことで生をあらためて意識するためのサイトです")
    meta(name="keywords", content="癌,悪性新生物,自殺,健康,統計")
    link(rel="SHORTCUT ICON", href="img/pill.ico")
    link(rel="stylesheet", href="lib/cssreset-min.css", type="text/css")
    link(rel="stylesheet", href="lib/c3.min.css", type="text/css")
    link(rel="stylesheet", href="lib/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="css/main.css", type="text/css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700', type='text/css')
  body(ng-controller="appCtrl")
    //- ヘッダー
    header(ng-if="show.header")
    //- タイトルロゴ
    h1.fadein(ng-class="{'fadeout':h1Fadeout}",ng-show="show.h1") How We Die?
    //- コンテンツ
    div.view.reveal-animation(ng-view,ng-show="show.view")
    //- amazonアフィ
    amazon(ng-if="show.amazon")
    //- ga
    ga

    script(src="lib/angular.min.js")
    script(src="lib/angular-route.min.js")
    script(src="lib/angular-animate.min.js")
    script(src="lib/d3.v3.min.js")
    script(src="lib/c3.min.js")

    script(src="modules/app.js")
    script(src="modules/common/services.js")
    script(src="modules/common/appCtrl.js")
    script(src="modules/top/topCtrl.js")
    script(src="modules/line/lineCtrl.js")
    script(src="modules/about/aboutCtrl.js")