doctype html
html(ng-app="app")
  head(lang="jp")
    title How We Die?
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="lib/cssreset-min.css", type="text/css")
    link(rel="stylesheet", href="lib/c3.min.css", type="text/css")
    link(rel="stylesheet", href="lib/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="lib/ui-layout.css", type="text/css")
    link(rel="stylesheet", href="css/main.css", type="text/css")
  body(ng-controller="appCtrl")
    div(ng-http-loader,template="modules/common/parts/_loading.html")
    alert-msg
    nav
    div(ng-view)
    pre {{hoge}}

    script(src="lib/angular.min.js")
    script(src="lib/angular-route.min.js")
    script(src="lib/ui-bootstrap-tpls.min.js")
    script(src="lib/ui-layout.js")
    script(src="lib/angular-http-loader.min.js")
    script(src="lib/d3.v3.min.js")
    script(src="lib/c3.min.js")

    script(src="modules/app.js")
    script(src="modules/common/services.js")
    script(src="modules/common/filters.js")
    script(src="modules/common/appCtrl.js")
