.line
  p.title 主な死因における年齢層別の割合と絶対数
  ul.nav.nav-pills.nav-justified
    li(ng-click="changeType('rate')",ng-class="{active:type=='rate'}") 割合
    li(ng-click="changeType('number')",ng-class="{active:type=='number'}") 絶対数

  #chart