.flash {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  animation-name: flash;
  // 年間死亡者数1,268,436人
  // 365*24*60*60 / 1268436 = 24.862113658
  animation-duration: 24.862113658s;
  color: #fff;
}
@keyframes flash {
  0% {
    color: #fff;
  }
  94% {
    color: #fff;
  }
  95% {
    color: #B21717;
  }
  100% {
    color: #fff;
  }
}

.reveal-animation.ng-enter {
  animation: enter_sequence .8s ease-in;
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
.fadein {
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  animation-name: fadein;
  animation-duration: 2s;
  opacity: 1;
}
.top .top-main.fadein {
  animation-duration: .8s;
}
.fadeout {
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  animation-name: fadeout;
  animation-duration: 1s;
  opacity: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.icon-sex.on {
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  animation-name: pop;
  animation-duration: .3s;
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
