
html {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}
body {
  margin: 0;
  background: none;
}
.amazon {
  position:fixed;
  bottom:0;
  left:50%;
  margin-left: -364px;
}
nav {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 40px;
  h1 {
    position:absolute;
    top:10px;
    left: 10px;
    margin: 0;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 400;
    text-align: center;
    a {
      color: rgba(255, 255, 255, .6);
      &:hover,&:active,&:link,&:focus {
        color: rgba(255, 255, 255, .9);
        text-decoration:none;
      }
    }
  }
  ul {
    position:absolute;
    top:16px;
    right:10px;
    li {
      float:left;
      margin-right: 20px;
      a {
        color: rgba(255, 255, 255, .6);
        &:hover,&:active,&:link,&:focus {
          color: rgba(255, 255, 255, .9);
          text-decoration: none;
        }
      }
    }
  }
}

h1.fadein {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, .6);
  margin-top: 300px;
  font-size: 100px;
}

.caution {
  color: #B21717;
  font-size: 200%;
  font-weight: bold;
  margin: 0 5px;
}
.top {
  .top-main {
    width: 800px;
    padding: 40px;
    margin: 100px auto;
    border-radius: 2px;
    background: rgba(255,255,255,.8);
    .top-main-q {
      p {
        text-align: center;
        font-size: 200%;
      }
      form {
        width: 320px;
        margin: 40px auto;
      }
      input {
        height: 50px;
        width: 200px;
        float: left;
        margin-right: 10px;
      }
      .icon-sex {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 7px 13px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        float: right;
      }
      .icon-male {
        background-color: rgb(200,200,250);
        &.on {
          background-color: rgb(100,100,250);
          &:hover {
            background-color: rgba(100,100,250,.7);
          }
        }
        &:hover {
          background-color: rgba(200,200,250,.7);
        }
      }
      .icon-female {
        background-color: rgb(250,200,200);
        margin-right:5px;
        &.on {
          background-color: rgb(250,100,100);
          &:hover {
            background-color: rgba(250,100,100,.7);
          }
        }
        &:hover {
          background-color: rgba(250,200,200,.7);
        }
      }
      .btn {
        margin: 20px auto;
        display: block;
        width: 320px;
      }
    }
    .top-main-a {
      p {
        text-align: center;
      }
      .top-chart {
        width: 480px;
        margin: 20px auto;
      }
      .btn {
        margin: 20px auto;
        display: block;
        width: 300px;
      }
    }
  }
}
.line,.about {
  width: 800px;
  padding: 40px;
  margin: 100px auto;
  border-radius: 2px;
  background: rgba(255,255,255,.8);
  p.title {
    text-align: center;
  }
  ul.nav {
    border: 1px solid #999;
    height: 30px;
    border-radius: 6px;
    margin: 0 auto 20px;
    li {
      line-height: 28px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      &.active {
        background: #666;
        color: #fff;
      }
    }
  }
}

button.my-twitter-share-button {
  display: block;
  margin: 0 auto;
  padding: 1px 3px 0 19px;

  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url(//twitter.com/favicons/favicon.ico) 2px 3px no-repeat;
  background: url(//twitter.com/favicons/favicon.ico) 2px 3px no-repeat,
              -webkit-linear-gradient(#fff, #dedede);
  background: url(//twitter.com/favicons/favicon.ico) 2px 3px no-repeat,
              linear-gradient(#fff, #dedede);
  background-size: 16px 13px, auto auto;

  /* Text */
  font: bold 11px/17px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);

  white-space: nowrap;
}


.flc:after {
  content: "";
  clear: both;
  display: block;
}

@import '_anim';
